.command-block {
    background-color: #111;
    /*border: 0.1px solid #0f0;*/
    /*margin-bottom: 0.1rem;*/
    /*margin-right: 1rem;*/
    /*border-radius: 8px;*/
    padding: 0.5rem;
    position: relative;
}

/*.command-block.compact {*/
/*    padding-bottom: 0; !* Minimal padding for empty output *!*/
/*}*/

.command-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.command-buttons {
    display: flex;
    gap: 0.5rem;
}

.command-button {
    background-color: transparent;
    color: #0f0;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50%;
    transition: color 0.3s;
    /*padding: 0.2rem;*/
    /*margin-right: 0.2rem;*/
}

.command-button:hover {
    color: #fff;
}

.command-text {
    color: #0f0;
    font-weight: bold;
}

.output-text {
    color: #ccc;
    white-space: pre-wrap;
    font-family: monospace;
    margin-top: 0.5rem;
}
