.terminal-x {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #0f0;
    padding: 1rem;
    font-family: "Courier New", Courier, monospace;
    /*border: 2px solid #0f0;*/
    /*border-radius: 10px;*/
    height: 90%;
    width: 100%;
    /*box-shadow: 0 0 20px #0f0;*/

}

.output {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.input-form {
    display: flex;
}

.input {
    flex: 1;
    background-color: #000;
    color: #0f0;
    border: 1px solid #0f0;
    padding: 0.5rem;
    border-radius: 4px;
    outline: none;
}
